*{
  box-sizing: border-box;
}
.maison{
  background-color: lightgrey;
}
.appartement{
  background-color: lime;
}
table{
  border-collapse: collapse;
  border: 3px solid;
}
th{
  background-color: yellow;
  height: 50px;
}
td, th{
  border-top: 3px solid;
  border-bottom: : 3px solid;
  border-left: 3px solid;
  border-right: 1px solid;
}
td:nth-child(2), h1{
  text-align: center;
}
td:nth-child(3), td:nth-child(4), td:nth-child(5){
  text-align:right;
}
td:last-child{
  text-align: left;
  width: 40%;
}

td{
  padding: 5px;
}
